{% extends "base.html" %}
{% block content %}

<div class="container mt-5" style="max-width: 450px;">
    <h2 class="mb-4">Вхід до системи</h2>

    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-danger">{{ msg }}</div>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label>Логін</label>
            <input type="text" name="username" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Пароль</label>
            <input type="password" name="password" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary w-100">Увійти</button>

        <div class="text-center mt-3">
            <a href="{% url 'account:register' %}">Створити акаунт</a>
        </div>
    </form>
</div>

{% endblock %}